In [ ]:
# 1
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

print()


# 2
L.remove(11)
L.remove(13)
print(L)

print()


# 3
L.sort()
print(L)

print()


# 4
L.sort(reverse=True)
print(L)

print()


# 5
if 13 in L:
    print("13 is present in the list")
else:
    print("13 is not present in the list")

print()


# 6
print(len(L))

print()


# 7
print(sum(L))

print()


# 8
odd_sum = sum(x for x in L if x % 2 != 0)
print(odd_sum)

print()


# 9
even_sum = sum(x for x in L if x % 2 == 0)
print(even_sum)

print()


# 10
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
prime_sum = sum(x for x in L if is_prime(x))
print(prime_sum)

print()


# 11
L.clear()
print(L)

print()


# 12
del L
print(L)

[11, 12, 13, 14, 50, 60]

[12, 14, 50, 60]

[12, 14, 50, 60]

[60, 50, 14, 12]

13 is not present in the list

4

136

0

136

0

[]

In [ ]:
#2
L = [11, 12, 13, 14]

sum = 0
for item in L:
    sum += item
print(sum)

print()

50

In [ ]:
#3
L = [11, 12, 13, 14]

product = 1
for item in L:
    product *= item

print(product)

24024

In [ ]:
#4
array_3d = [[['*'] * 6] * 4] * 3

for i in array_3d:
    for j in i:
        print(j)
    print()

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

In [ ]:
# 1
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8
print(D)

print()


# 2
D.pop(2)
print(D)

print()


# 3
if 6 in D:
    print("Key 6 is present in D")
else:
    print("Key 6 is not present in D")

print()


# 4
print(len(D))

print()


# 5
total = 0
for value in D.values():
    total += value
print(total)

print()


# 6
D[3] = 7.1
print(D)

print()


# 7
D.clear()
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

Key 6 is not present in D

5

37.4

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

{}

In [ ]:
# 1
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

S1.add(55)
S1.add(66)
print(S1)

print()


# 2
S1.remove(10)
S1.remove(30)
print(S1)

print()


# 3
if 40 in S1:
    print("40 is present in S1")
else:
    print("40 is not present in S1")

print()


# 4
union_set = S1.union(S2)
print(union_set)

print()


# 5
intersection_set = S1.intersection(S2)
print(intersection_set)

print()


# 6
difference_set = S1 - S2
print(difference_set)

{50, 66, 20, 55, 40, 10, 60, 30}

{50, 66, 20, 55, 40, 60}

40 is present in S1

{66, 70, 40, 80, 50, 20, 55, 90, 60}

{40, 50, 60}

{66, 20, 55}

In [ ]:
# 2
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

print()


# 3
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
#Q8
exam_st_date = (11, 12, 2025)

print("Examination Schedule Date:", exam_st_date[0], "/", exam_st_date[1], "/", exam_st_date[2])

Examination Schedule Date: 11 / 12 / 2025

In [ ]:
#Q9
numbers = [10, 23, 45, 67, 50, 33, 90, 12]

for num in numbers:
    if num % 5 == 0:
        print(num)

10
45
50
90

In [ ]:
#Q10
num = int(input("Enter a number: "))

is_even = (num % 2 == 0)

if is_even:
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 4
The number is even

In [ ]:
#Q11
text = "Emma is a girl. Emma is smart"

count = text.count("Emma")

print("The substring 'Emma' appears", count, "times")

The substring 'Emma' appears 2 times

In [ ]:
#Q12
list1 = [1, 2, 3, 4, 5, 6]
list2 = [10, 11, 12, 13, 14, 15]

new_list = []

for num in list1:
    if num % 2 != 0:
        new_list.append(num)

for num in list2:
    if num % 2 == 0:
        new_list.append(num)

print(new_list)

[1, 3, 5, 10, 12, 14]

In [ ]:
#Q13
positions = [(2, 3), (4, 5), (6, 7), (7, 8)]

even_x_positions = []

for pos in positions:
    if pos[0] % 2 == 0:
        even_x_positions.append(pos)

print(even_x_positions)

[(2, 3), (4, 5), (6, 7)]

In [ ]:
#Q14
sensor_data = {1: 2.3, 2: 4.5, 3: 1.8, 4: 3.6}

for sensor_id in sensor_data:
    if sensor_data[sensor_id] > 3.0:
        print(sensor_id)

2
4

In [ ]:
#Q15
commands_received = {"MOVE", "TURN_LEFT", "TURN_RIGHT", "STOP"}
commands_executed = {"MOVE", "TURN_LEFT", "STOP"}

not_executed = commands_received - commands_executed

print(not_executed)