In [ ]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

In [ ]:
a = ''
first_name = input("ENter your first name ")
second_name = input("Enter your second name ")
for i in range(0,len(first_name)):
  a = a+first_name[-i-1]
a = a+ ' '
for i in range(0,len(second_name)):
  a = a+second_name[-i-1]
print(a)

ENter your first nameRavi
Enter your second nameKant'
ivaR 'tnaK

In [ ]:
import math
radius = int(input("Enter the radius of circle "))
area = math.pi*math.pow(radius,2)
print("Area of the circle is",area)

Enter the radius of circle 7
Area of the circle is 153.93804002589985

In [ ]:
color_list = ["Red","Green","White","Black"]
print("First colour of the list is",color_list[0])
print("Last colour of the list is",color_list[-1])

First colour of the list is Red
Last colour of the list is Black

In [ ]:
n = int(input("Enter the value of n "))
nlist = [str(n),str(n)*2,str(n)*3]
nsum = 0
for i in nlist:
  nsum = nsum+int(i)

print(nsum)

Enter the value of n 1
123

In [ ]:
nums = input("Enter a list of comma separated numbers ")
list = nums.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Enter a list of comma separated numbers 1,2,4,5
List :  ['1', '2', '4', '5']
Tuple :  ('1', '2', '4', '5')

In [ ]:
cel = int(input("Enter the temperature in  celsius "))
far = (cel*9/5)+32
print("Temperature in Fahrenheit is",far)

Enter the temperature in  celsius 100
Temperature in Fahrenheit is 212.0

In [ ]:
x = int(input("Enter the value of x "))
y = int(input("Enter the value of y "))
x = x+y
y = x-y
x = x-y
print("New value of x is",x)
print("New value of y is",y)

Enter the value of x 2
Enter the value of y 3
Value of x is 3
Value of y is 2

In [ ]:
n = int(input("Enter a number "))
if n%2==0:
  print("Entered number is even")
else:
  print("Entered number is odd")

Enter a number 5
Entered number is odd

In [ ]:
year = int(input("Enter the year"))
if year%100 == 0:
  if year%400 == 0:
    print("Entered year is a leap year")
  else:
    print("Entered year is not a leap year")
else:
  if year%4 == 0:
    print("Entered year is a leap year")
  else:
    print("Entered year is not a leap year")

In [ ]:
x1 = int(input("Enter the x coordinate of 1st point "))
y1 = int(input("Enter the y coordinate of 1st point "))
x2 = int(input("Enter the x coordinate of 2nd point "))
y2 = int(input("Enter the y coordinate of 2nd point "))
cord = [x2-x1,y2-y1]
distance = math.sqrt((cord[0]**2+cord[1]**2))
print("Distance between the two points is",distance)

Enter the x coordinate of 1st point 7
Enter the y coordinate of 1st point 3
Enter the x coordinate of 2nd point 4
Enter the y coordinate of 2nd point -1
Distance between the two points is 5.0

In [ ]:
angle1 = int(input("Enter the 1st angle of the triangle "))
angle2 = int(input("Enter the 2nd angle of the triangle "))
angle3 = int(input("Enter the 3rd angle of the triangle "))
if angle1+angle2+angle3 == 180:
  print("Entered angles form a triangle")
else:
  print("Entered angles do not form a triangle")

Enter the 1st angle of the triangle 60
Enter the 2nd angle of the triangle 70
Enter the 3rd angle of the triangle 50
Entered angles form a triangle

In [ ]:
p = int(input("Enter the principal amount "))
r = int(input("Enter the rate of interest "))
t = int(input("Enter the time "))
ci = p*(1+r/100)**t
print("Compound interest is",ci)

Enter the principal amount 1000
Enter the rate of interest 10
Enter the time 3
Compound interest is 1331.0000000000005

In [ ]:
num = int(input("Enter a number "))
fac = 0
for i in range(2,int(math.sqrt(num)+1)):
  if num%i==0:
    fac = 1
if fac == 1:
  print("Entered number is not a prime number")
else:
  print("Entered number is a prime number")

In [ ]:
n = int(input("Enter a number "))
ans = 0
for i in range(1,n+1):
  ans = ans+i**2
print("Sum of square of first",n,"natural numbers is",ans)

Enter a number 3
Sum of square of first 3 natural numbers is 14